<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<!-- <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked="checked"> -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <a class="sidebar-nav-item home-nav {% if page.url == site.baseurl %} active {% endif %}" href="{{ site.baseurl }}/">home</a>

  <nav class="sidebar-nav">

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null and node.url != "/404.html" %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign texts = site.texts | sort:"order" %}
    {% for item in texts %}
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">
          {{ item.title }}
        </a>
    {% endfor %}
  </nav>

  <div class="page-nav">
    {% if page.previous.url %}
      <a id="prev-btn" class="prev page-btn" href="{{ site.baseurl }}{{page.previous.url}}">↑</a>
      {% else %}
      <a id="prev-btn" class="prev page-btn" href="{{ site.baseurl }}{% link _texts/99-around.md %}">return</a>
    {% endif %}
    {% if page.next.url %}
      <a id="next-btn" class="next page-btn" href="{{ site.baseurl }}{{page.next.url}}">↓</a>
      {% else %}
      <a id="next-btn" class="next page-btn" href="{{ site.baseurl }}{% link _texts/0-with.md %}">return</a>
    {% endif %}
  </div>

  <div class="energy-capsule">
    <div>
      <div>
        <div>
          <div>
            <img src="{{ site.baseurl }}/assets/apple.gif" alt="energy source" title="energy source">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
