---
sitemap: false
---

/* Fonts */
$main-font: 'Fira Code', monospace;
$heading-font: 'Xanh Mono', monospace;
$regular-font-size: 1em;

$text-color: rgba(0, 0, 0, 0.6);
$heading-color: rgba(0, 0, 0, 0.6);
$border-color: rgba(0, 0, 0, 0.2);
$link-color: rgba(0, 0, 0, 0.6);

$background-color: #a6a55a;

@import "ed";
@import "syntax";
